@charset "utf-8";

* {
    box-sizing: border-box;
    font-family: ‘Noto Sans KR’, sans-serif;
}

ol.toc {
    list-style-type: none;
}

ol.toc a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

ol.toc a:hover{
    font-size: 18px;
    color: purple;
    text-decoration: none;
}
  

body{
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    border-radius: 3px;
    background: #FDFAFE;
    border-left: .25rem solid #8a4baf;
}

.rightblock {
    padding: .5rem 1rem;
    margin: .8rem 0;
    border-radius: 3px;
    background: #FDFAFE;
    border-left: none;
    border-right: .25rem solid #8a4baf;
}

img {
    width: 100%;
}

.imgarea {
    justify-content: center;
    align-items: center;
    display: flex;
}

.main{
    margin: 0;
    padding: 0;
}

.left-img-row {
    display: grid;
    grid-template-columns: 20% 80%;
}

.right-img-row {
    display: grid;
    grid-template-columns: 80% 20%;
}

.container {
    padding: 15px;
}

.paragraph {
    justify-items: auto;
}

.title {
    font-size: 35px;
}

.subtitle {
    font-size: 22px;
}

.text {
    font-size: 18px;
    margin-bottom: 0;
}

.hashtag {
    background-color: burlywood;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

   
@media (max-width: 992px) {
    body {
        margin: 0;
        padding: 0;
        display: contents;
    }
    .main {
        margin: 0;
        padding: 5px;
        width: 100%;
    }
    .tocdiv {
        visibility: hidden;
        height: 0%;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }
    .text {
        font-size: 16px;
    }
}